<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/snappmulti.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>snapp multi</title>
</head>
<body>
    <div class="slider">
        <div class="photo">
            <img src="/static/img/taxi-cover.jpg" alt="">
        </div>
        <div class="text">
            <h2>تجربه زندگی راحت تر ، سریع تر وب به صرفه تر با اسنپ </h2>
            <p>لورم ایپسوم یک متن تستی جهت نمایش محتوا میباشد</p>
            <button class="btn">تماس با ما</button>
        </div>
    </div>
    <div class="con">
        <h2>اپلیکیشن ها</h2>
        <div class="serv">
            <div class="khadamat">
                <div class="img-serv">
                    <img src="/static/img/taxi.svg" alt="">
                </div>
                <div class="txt-serv">
                    <h5>تاکسی اینترنتی</h5>
                    <p>امکان درخواست آنلاین خودرو با اسنپ</p>
                </div>
            </div>
            <div class="khadamat">
                <div class="img-serv">
                    <img src="/static/img/food.svg" alt="">
                </div>
                <div class="txt-serv">
                    <h5>سفارش آنلاین غذا</h5>
                    <p>امکان سفارش آنلاین غذا</p>
                </div>
            </div>
            <div class="khadamat">
                <div class="img-serv">
                    <img src="/static/img/doctor.svg" alt="">
                </div>
                <div class="txt-serv">
                    <h5>پزشک و مشاوره</h5>
                    <p>درمان با اسنپ</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>